*.egg-info/**
**/__pycache__/**
pose_refinement/notebooks/.ipynb_checkpoints/*
pose_refinement/notebooks
rsyncignore.txt
pose_refinement/__pycache__
pose_refinement/output
slurm*
notebooks/**
scripts_arkitscenes/.ipynb_checkpoints/*
scripts_arkitscenes/*.ply
transform_info_scene0575_00.npz
saved/**
checkpoints
checkpoints/
3rdparty/nltk_data/
testing/test_scan/intermediate/
env/INSTALLED_VERSIONS.sh
wandb/
build/
*.simg

