[submodule "nr_semantic_segmentation"]
	path = nr_semantic_segmentation
	url = git@github.com:ethz-asl/nr_semantic_segmentation.git
[submodule "Hierarchical-Localization"]
	path = Hierarchical-Localization
	url = https://github.com/cvg/Hierarchical-Localization.git
