[submodule "nr_semantic_segmentation"]
	path = nr_semantic_segmentation
	url = git@github.com:ethz-asl/nr_semantic_segmentation.git
[submodule "Hierarchical-Localization"]
	path = Hierarchical-Localization
	url = https://github.com/cvg/Hierarchical-Localization.git
[submodule "mmseg/mmsegmentation"]
	path = mmseg/mmsegmentation
	url = https://github.com/open-mmlab/mmsegmentation.git
[submodule "mmseg/InternImage"]
	path = mmseg/InternImage
	url = https://github.com/OpenGVLab/InternImage.git
[submodule "mmseg/RGBX_Semantic_Segmentation"]
	path = mmseg/RGBX_Semantic_Segmentation
	url = https://github.com/huaaaliu/RGBX_Semantic_Segmentation.git
[submodule "mmseg/Depth2HHA-python"]
	path = mmseg/Depth2HHA-python
	url = https://github.com/hermannsblum/Depth2HHA-python.git
