*.egg-info/**
**/__pycache__/**
pose_refinement/notebooks/.ipynb_checkpoints/*
pose_refinement/notebooks
rsyncignore.txt
pose_refinement/__pycache__
pose_refinement/output
slurm*
scripts_arkitscenes/.ipynb_checkpoints/arkit_parsing-checkpoint.ipynb
notebooks/evaluation_pose.ipynb
notebooks/scene0458.ipynb
notebooks/.ipynb_checkpoints/scene0458-checkpoint.ipynb
scripts_arkitscenes/*.ply
transform_info_scene0575_00.npz
scripts_arkitscenes/.ipynb_checkpoints/arkit_reconstruction-checkpoint.ipynb
scripts_arkitscenes/.ipynb_checkpoints/generate_3d_projections-checkpoint.ipynb
notebooks/.ipynb_checkpoints/evaluation_labelmaker-checkpoint.ipynb
notebooks/.ipynb_checkpoints/generate_3d_projections-checkpoint.ipynb
notebooks/.ipynb_checkpoints/visualize_arkitscenes-checkpoint.ipynb
notebooks/.ipynb_checkpoints/visualize_labelmaker_3d-checkpoint.ipynb
notebooks/colored_meshes/42445991_label_color.ply
notebooks/colored_meshes/42445991_mask3d_color.ply
notebooks/colored_meshes/42446527_label_color.ply
notebooks/colored_meshes/42446527_mask3d_color.ply
notebooks/colored_meshes/42897688_label_color.ply
notebooks/colored_meshes/42897688_mask3d_color.ply
notebooks/colored_meshes_scannet/scene0000_00_consensus.ply
notebooks/colored_meshes_scannet/scene0000_00_gt.ply
notebooks/colored_meshes_scannet/scene0000_00_labelmaker_sdfstudio.ply
notebooks/colored_meshes_scannet/scene0000_00_labelmaker.ply
notebooks/colored_meshes_scannet/scene0000_00_mask3d.ply
notebooks/colored_meshes_scannet/scene0000_00_scannet.ply
notebooks/colored_meshes_scannet/scene0164_02_consensus.ply
notebooks/colored_meshes_scannet/scene0164_02_gt.ply
notebooks/colored_meshes_scannet/scene0164_02_labelmaker.ply
notebooks/colored_meshes_scannet/scene0164_02_scannet.ply
notebooks/colored_meshes_scannet/scene0458_00_consensus.ply
notebooks/colored_meshes_scannet/scene0458_00_gt.ply
notebooks/colored_meshes_scannet/scene0458_00_labelmaker.ply
notebooks/colored_meshes_scannet/scene0458_00_scannet.ply
notebooks/colored_meshes_scannet/scene0474_01_consensus.ply
notebooks/colored_meshes_scannet/scene0474_01_gt.ply
notebooks/colored_meshes_scannet/scene0474_01_labelmaker.ply
notebooks/colored_meshes_scannet/scene0474_01_scannet.ply
notebooks/colored_meshes_scannet/scene0518_00_consensus.ply
notebooks/colored_meshes_scannet/scene0518_00_gt.ply
notebooks/colored_meshes_scannet/scene0518_00_labelmaker.ply
notebooks/colored_meshes_scannet/scene0518_00_scannet.ply
notebooks/.ipynb_checkpoints/evaluation_pose-checkpoint.ipynb
legacy/scripts_arkitscenes/.ipynb_checkpoints/arkit_parsing-checkpoint.ipynb
legacy/scripts_arkitscenes/.ipynb_checkpoints/arkit_reconstruction-checkpoint.ipynb
legacy/scripts_arkitscenes/.ipynb_checkpoints/generate_3d_projections-checkpoint.ipynb
legacy/scripts_arkitscenes/.ipynb_checkpoints/arkit_parsing-checkpoint.ipynb
legacy/scripts_arkitscenes/.ipynb_checkpoints/arkit_reconstruction-checkpoint.ipynb
legacy/scripts_arkitscenes/.ipynb_checkpoints/generate_3d_projections-checkpoint.ipynb
legacy/scripts_arkitscenes/42445991.ply
legacy/scripts_arkitscenes/42446517.ply
legacy/scripts_arkitscenes/42446527.ply
legacy/scripts_arkitscenes/42897521.ply
legacy/scripts_arkitscenes/42897688.ply
saved/hydra_logs/2023-10-05/13-48-27/mask3d_inst.log
saved/hydra_logs/2023-10-05/13-48-27/.hydra/config.yaml
saved/hydra_logs/2023-10-05/13-48-27/.hydra/hydra.yaml
saved/hydra_logs/2023-10-05/13-48-27/.hydra/overrides.yaml
