yapf
tqdm
ninja
gin-config
ipykernel
pytest

gdown # for downloading checkpoints

# ARKitScenes
pandas
scipy==1.14.1 # for pose interpolation
numpy==1.26.4
# mask3d
albumentations
loguru

# ovseg
nltk
cython
shapely
timm==1.0.3
h5py
fire
opencv-python
pillow==9.5.0
wandb

# omnidata + hha + cmx
pytorch-lightning==2.2.5
joblib
easydict

# grounded sam
fairscale
scikit-image

# sdfstudio
pyquaternion

# internimage
mmdet==2.26.0
