yapf
tqdm
ninja
gin-config

# ARKitScenes
pandas
scipy # for pose interpolation

# open3d
https://github.com/quantaji/open3d-manylinux2014/releases/download/0.17.0/open3d_cpu-0.17.0-0minimal-cp310-cp310-manylinux_2_17_x86_64.whl

# Pytorch
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.0
torchvision==0.15.1

# torch-scatter
--find-links https://data.pyg.org/whl/torch-2.0.0%2Bcu118.html
torch-scatter 

# mask3d
albumentations
loguru

# ovseg
nltk
cython
shapely
timm
h5py
fire
opencv-python
pillow==9.5.0
wandb

# omnidata + hha + cmx
pytorch-lightning
joblib
easydict
mmcv-full==1.6.2

# grounded sam
fairscale
scikit-image


